<div class="container py-5">
    {{#if errorMessage}}
        <div class="alert alert-danger mb-5">{{ errorMessage }}</div>
    {{/if}}

    <div class="row">
        <div class="col-5">
            <form action="/login" method="POST" id="form">
                <h2>Login</h2>

                <div class="form-group">
                    <label for="login-email">E-mail</label><br>
                    <input class="form-control" type="text" id="login-email" name="email" placeholder="insert your e-mail">
                </div>

                <div class="form-group">
                    <label for="login-password">Password</label><br>
                    <input class="form-control" type="password" id="login-password" name="password" placeholder="insert your password">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>

        <div class="col-5 offset-2">
            <form id="form" action="/signup" method="POST">
                <h2>Sign up</h2>

                {{#with user}}
                    <div class="form-group">
                        <label for="fullName">Full Name</label><br>
                        <input type="text" class="form-control" name="fullName"
                            placeholder="add your Name"
                            value="{{name}}">
                    </div>

                    <div class="form-group">
                        <label for="imageUrl">Profile Img</label><br>
                        <input type="file" class="form-control" name="imageUrl"
                            placeholder="add your Photo"
                            value="{{imageUrl}}">
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail</label><br>
                        <input type="email" class="form-control" name="email"
                            placeholder="add your e-mail"
                            value="{{username}}"
                            >
                        </div>

                        <div class="form-group">
                        <label for="password">Password</label><br>
                        <input type="password" class="form-control" name="password"
                            placeholder="create your password">
                    </div>

                    <button class="btn btn-primary btn-block">Sign up</button>
                {{/with}}
            </form>
        </div>
    </div>
</div>
