<ul class="navbar-nav mr-auto">
    {{#each menuItems}}   
        <li class="nav-item {{ class }}">
            <a href="{{ href }}" class="nav-link">
                {{ label }}
            </a>
        </li>
    {{/each}}
</ul>
