<div class="card mt-2">
    <div class="card-body">
        {{> rating}}

        <p class="card-text">{{comment}}</p>
        <em class="text-muted">
            <img src="{{user.imageUrl}}" class="img-profile img-profile-xs mr-1" />
            {{user.fullName}} - {{createdAt}}
        </em>
    </div>
</div>
