<div class="col-3 pb-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{#if imageUrl}}
                    <div class="col-auto">
                        <img src="{{imageUrl}}" class="img-thumbnail img-profile" />
                    </div>
                {{/if}}
                <div class="col">
                    <h5 class="card-title">
                        {{fullName}}
                    </h5>
                    <a href="/users/{{_id}}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
