<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-8">
            <h1>Rooms</h1>
        </div>
        <div class="col-4 text-right">
            {{#if currentUser}}
                <a href="/rooms/add" class="btn btn-success">
                    Create a new room
                    <i class="fas fa-plus-circle"></i>
                </a>
            {{/if}}
        </div>
    </div>

    <hr />
</div>

<div class="container-fluid py-4">
    <div class="row">
        {{#each rooms}}
            {{> room}}
        {{/each}}
    </div>
</div>
