body {
    padding-bottom: 50px;
}

footer {
    background: #000000;
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    position: fixed;
    width: 100%;
}

#map {
    background: #CCC;
    height: 600px;
    width: 100%;
}

.btn {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.rating {
    i {
        color: #CCC;
    }

    &.rating-1,
    &.rating-2,
    &.rating-3,
    &.rating-4,
    &.rating-5 {
        i:nth-child(1) {
            color: #000;
        }
    }

    &.rating-2,
    &.rating-3,
    &.rating-4,
    &.rating-5 {
        i:nth-child(2) {
            color: #000;
        }
    }
        
    &.rating-3,
    &.rating-4,
    &.rating-5 {
        i:nth-child(3) {
            color: #000;
        }
    }

    &.rating-4,
    &.rating-5 {
        i:nth-child(4) {
            color: #000;
        }
    }

    &.rating-5 {
        i:nth-child(5) {
            color: #000;
        }
    }
}