@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 56px;
    padding-top: 50px;
}

.navbar {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

footer {
    background: #000000;
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    position: fixed;
    width: 100%;
}

#map {
    background: #CCC;
    height: 420px;
    width: 100%;
}

.btn {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.rating {
    i,
    a {
        color: #CCC;
        text-decoration: none;
    }

    a {
        display: inline-block;
        float: left;
        padding: 0 4px 0 0;
    }

    &.rating-1,
    &.rating-2,
    &.rating-3,
    &.rating-4,
    &.rating-5 {
        :nth-child(1) {
            color: #000;
        }

        a:nth-child(1) {
            color: #007bff;
        }
    }

    &.rating-2,
    &.rating-3,
    &.rating-4,
    &.rating-5 {
        :nth-child(2) {
            color: #000;
        }

        a:nth-child(2) {
            color: #007bff;
        }
    }
        
    &.rating-3,
    &.rating-4,
    &.rating-5 {
        :nth-child(3) {
            color: #000;
        }

        a:nth-child(3) {
            color: #007bff;
        }
    }

    &.rating-4,
    &.rating-5 {
        :nth-child(4) {
            color: #000;
        }

        a:nth-child(4) {
            color: #007bff;
        }
    }

    &.rating-5 {
        :nth-child(5) {
            color: #000;
        }

        a:nth-child(5) {
            color: #007bff;
        }
    }
}

.img-profile {
    border-radius: 50%;
    height: 75px;
    width: 75px;

    &.img-profile-xs {
        height: 25px;
        width: 25px;
    }
}