<div class="container-fluid pt-4">
    <h1>Users</h1>

    <hr />
</div>

<div class="container-fluid py-4">
    <div class="row">
        {{#each users}}
            {{> user}}
        {{/each}}
    </div>
</div>
